
@{
    ViewBag.Title = "Benefits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>CalFresh</h2>*@
<div class="jumbotron">
    <h1>CalFresh</h1>
    <p class="lead">CalFresh is the new name for California's Food Stamp Program. CalFresh is a Supplemental Nutrition

    Assistance Program (SNAP) that provides assistance for households to purchase nutritious food. The program

    uses an easy credit card format called Electronic Benefit Transfer (EBT) to purchase food at retail stores and

    farmers markets.</p>
    <p>
        <a class="btn btn-default" href="https://www.mybenefitscalwin.org/" target="_blank"><img src="~/Content/Images/OnlineApply.jpg" alt="" style="height:70px; height:70px;" />Apply Online &raquo;</a>
        <a class="btn btn-default" href="~/Locations/SSAOffice"><img src="~/Content/Images/multiple.jpg" alt="" style="height:70px; height:70px;" />Where to apply&raquo;</a>
        <a class="btn btn-default" href="~/Locations/MediCal"><img src="~/Content/Images/MediCal.jpg" alt="" style="height:70px; height:70px;" />Get MediCal Benefits&raquo;</a>
</p>
</div>
<p>    
    <br />
    All CalFresh applications must be processed as soon as possible, but no later than thirty (30) calendar

    days from the date the application is received by the County. The County must notify the applicant in writing, if

    the case is approved or denied, no later than 30 calendar days from the date the County receives the CalFresh

    application. If you qualify based on an emergency situation, you may be eligible to receive CalFresh Expedited

    Service benefits within three (3) calendar days from the date the application is received by the County. If you

    are having problems with your CalFresh application, please call 510-645-9332 or  email
    <br />
    <br />

    <u>Who May Be Eligible</u>
    <ul>
        <li>All US citizens (Except persons receiving SSI/SSP benefits)</li>
        <li>Most immigrants - Legal Permanent Residents</li>
    </ul>
    <u> What Verification Is Needed</u>
    <ul>
        <li>Identification (does not need to be a picture ID)</li>
        <li>Social Security number</li>
        <li>Proof of any income</li>
        <li>Proof of expenses - rent receipt, utility bills, childcare receipts, medical receipts</li>
    </ul>

   <u><i>How Much Income Can I Have</i></u>
    <br />
    Income depends on the number of people in your household
    <br />
</p>
<table>
    <tr>
        <td>Household Size</td>
        <td>maximum Gross Income</td>
        <td>maximum benefit amunt</td>
    </tr>
    <tr>
        <td>1</td>
        <td>$1,962</td>
        <td>$194</td>
    </tr>
    <tr>
        <td>2</td>
        <td>$2,656</td>
        <td>$357</td>
    </tr>
</table>


