@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbotron">
    <div class="col-md-offset-6">
        <h1>Alameda County HelpingHands</h1>
        <p class="lead">Give a man a fish, then teach him how to fish</p>
        <p><a href="http://acgov.org/allin" class="btn btn-primary btn-large">Alameda County All In Initiative&raquo;</a></p>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Call for food</h2>
            <p>Reach out to your local Food Bank if you're hungry.</p>
            <p><a class="btn btn-default" href="tel:5105105100"><img src="~/Content/Images/Call.jpg" alt="" style="height:120px; height:120px;" />Call Now &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Apply for Benefits</h2>
            <p>Find elegibilty criteria and relevant information here.</p>
            <p><a class="btn btn-default" href="~/Benefits"><img src="~/Content/Images/Apply.png" alt="" style="height:120px; height:120px;" />Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Restaurants Accepting Food Stamps</h2>
            <p>Find a local restaurant accepts Food Stamps?</p>
            <p><a class="btn btn-default" href="~/Generic/Under"><img src="~/Content/Images/restaurant.jpg" alt="" style="height:120px; height:120px;" />Here are &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Apply for a Job</h2>
            <p>Find a suitable position from here</p>
            <p><a class="btn btn-default" href="~/Generic/Under"><img src="~/Content/Images/jobsearch.jpg" alt="" style="height:120px; height:120px;" />Hurray! new jobs &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Need Child Care?</h2>
            <p>These places can take care of your little ones</p>
            <p><a class="btn btn-default" href="~/Generic/Under"><img src="~/Content/Images/childcare.jpg" alt="" style="height:120px; height:120px;" />For Little ones &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Help for Seniors</h2>
            <p>You can rely on those services...</p>
            <p><a class="btn btn-default" href="~/Generic/Under"><img src="~/Content/Images/SrCtzn.png" alt="" style="height:120px; height:120px;" />Help needed! &raquo;</a></p>
        </div>
    </div>
